<section class='space-3d' {{ parentProps }}>
    <div class='cube' {{ htmlProps }}>
        <aside class='front'>
            <i></i>
        </aside>
        <aside class='back'>
            <i></i> <i></i>
        </aside>
        <aside class='right'>
            <i></i> <i></i> <i></i>
        </aside>
        <aside class='left'>
            <i></i> <i></i>
            <i></i> <i></i>
        </aside>
        <aside class='top'>
            <i></i> <i></i> <i></i>
            <i></i> <i></i>
        </aside>
        <aside class='bottom'>
            <i></i> <i></i> <i></i>
            <i></i> <i></i> <i></i>
        </aside>
    </div>
</section>