:root {
    --background-color: hsl(200, 22%, 90%);
    --border-color: hsl(0, 0%, 5%);
    --border-radius: 1px;
    --button-background-color: hsla(0, 0%, 0%, 0.5);
    --button-color: var(--background-color);
    --button-font-size: 10vh;
    --button-size: 8vh;
    --cube-gap: 5.5vmax;
    --dot-color: hsl(0, 0%, 5%);
    --dot-size: 20%;
    --duration: 2.8s;
    --footer-gap: 2vh;
    --opacity: 1;
    --size: 45vmin;
    --transparent: 0.42;
}

.space-3d {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    place-content: center;
    perspective: 150vmin;
    perspective-origin: 50% 50%;
}

.cube {
    --half-size: calc(var(--size) / 2);
    --border-width: calc(var(--size) * 0.045);
    height: var(--size);
    width: var(--size);
    flex-shrink: 0;
    margin: var(--cube-gap);
    position: relative;
    transform-style: preserve-3d;
    transition: transform var(--duration);
    user-select: none;

    i {
        display: block;
        position: absolute;
        height: var(--dot-size);
        width: var(--dot-size);
        background: var(--dot-color);
        border-radius: 50%;
        top: 20%;
        left: 20%;
        margin-top: calc(var(--dot-size) / -2);
        margin-left: calc(var(--dot-size) / -2);
    }

    aside {
        position: absolute;
        height: 100%;
        width: 100%;
        backface-visibility: hidden;
        background: var(--background-color);
        border-color: var(--border-color);
        border-radius: var(--border-radius);
        border-style: solid;
        border-width: var(--border-width);
        box-sizing: border-box;
        cursor: pointer;
        opacity: var(--opacity);
        transition: opacity var(--duration);
    }
}

.front {
    transform: translateZ(var(--half-size));

    i {
        left: 50%;
        top: 50%;
    }
}

.back {
    transform: rotateX(-180deg) translateZ(var(--half-size));

    > :nth-child(1) {
        left: 80%;
    }

    > :nth-child(2) {
        top: 80%;
    }
}

.right {
    transform: rotateY(90deg) translateZ(var(--half-size));

    > :nth-child(1) {
        left: 80%;
    }

    > :nth-child(2) {
        left: 50%;
        top: 50%;
    }

    > :nth-child(3) {
        top: 80%;
    }
}

.left {
    transform: rotateY(-90deg) translateZ(var(--half-size));

    > :nth-child(2) {
        left: 80%;
    }

    > :nth-child(3) {
        left: 80%;
        top: 80%;
    }

    > :nth-child(4) {
        top: 80%;
    }
}

.top {
    transform: rotateX(90deg) translateZ(var(--half-size));

    > :nth-child(2) {
        left: 50%;
        top: 50%;
    }

    > :nth-child(3) {
        top: 80%;
    }

    > :nth-child(4) {
        left: 80%;
    }

    > :nth-child(5) {
        left: 80%;
        top: 80%;
    }
}

.bottom {
    transform: rotateX(-90deg) translateZ(var(--half-size));

    > :nth-child(2) {
        top: 50%;
    }

    > :nth-child(3) {
        top: 80%;
    }

    > :nth-child(4) {
        left: 80%;
    }

    > :nth-child(5) {
        left: 80%;
        top: 50%;
    }

    > :nth-child(6) {
        left: 80%;
        top: 80%;
    }
}

.footer {
    display: flex;
    box-sizing: border-box;
    gap: var(--footer-gap);
    padding: var(--footer-gap);
    position: fixed;
    right: 0;
    bottom: 0;

    > button {
        cursor: pointer;
        background-color: var(--button-background-color);
        border-radius: 50%;
        border: none;
        color: var(--button-color);
        font-size: var(--button-size);
        line-height: var(--button-size);
        padding: 0;
        opacity: 0.62;
        transition: opacity 0.5s;

        &:hover {
            opacity: 1;
            transition: opacity 0.1s;
        }
    }
}